<phpunit 
	bootstrap='./wp-test-includes/kb-bootstrap.php'
	backupGlobals='false'
	colors='true'
	convertErrorsToExceptions='true'
	convertNoticesToExceptions='true'
	convertWarningsToExceptions='true'>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./wp-content/plugins/acf-extentions/tests</directory>
			<directory prefix="test-" suffix=".php">./wp-content/themes/empty-theme/tests</directory>
		</testsuite>
	</testsuites>
</phpunit>